<header>
    <div class="menu-left">
        <a href="http://atc2022.dothome.co.kr/?page_id=14787" onclick="window.open(this.href, '_blank'); return false;" class="menu-btn" id="about" type="button">ABOUT</a>
    </div>
    <div class="home">
        <a href="/userinput"><img src="{{ url_for('static', path='logo.png') }}" class="logo"></a>
    </div>
    <div class="menu-right">
        <a href="https://notch-beaufort-e05.notion.site/6f36ca2eb8bb4fad9719809c92ac10a2?v=bdfa8c6539c44dc5905a894e018cccb0" onclick="window.open(this.href, '_blank'); return false;" class="menu-btn" id="bookself" type="button">BOOKSHELF</a>
    </div>
</header>