<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Franklin | AI 동화 작가</title>
    <link rel="stylesheet" href="static/css/style-3.css">
</head>
<body>
    <header>
        <div class="menu-left">
            <a href="#" class="menu-btn about" type="button">ABOUT</a>
        </div>
        <div class="home">
            <img src="static/logo.png" class="logo">
        </div>
        <div class="menu-right">
            <a href="#" class="menu-btn" id="bookself" type="button">BOOKSHELF</a>
        </div>
    </header>
    <div class="container">
        <div class="nav-bar">
            <div class="step stp0"></div>
            <div class="step stp1">1</div>
            <div class="step stp2">2</div>
            <div class="step stp3">3</div>
        </div>
        <div class="sub">
            <h1 class="title" id="user-title" value="title"></h1>
            <div class="prompt-info">
                <div class="prompt-info-card">
                    <p class="info-category">인물</p>
                    <p class="info-item" id="character-info"></p>
                </div>
                <div class="prompt-info-card">
                    <p class="info-category">장소</p>
                    <p class="info-item" id="place-info"></p>
                </div>
                <div class="prompt-info-card">
                    <p class="info-category">키워드</p>
                    <p class="info-item" id="keyword-info"></p>
                </div>

            </div>
            
            <p class="story">여러분과 프랭클린의 공동 창작으로 완성된 동화는 과연 몇점일까요? 독창성, 문장 완성도, 다양성 면에서 점수를 드립니다. 완성된 동화를 사람들에게 공유해보세요!</p>
        </div>
        <div class="prompt">
            <h1 class="user-prompt-title">📖 동화 완성!</h1>
            <h3 class="prompt-title user-prompt">완성된 동화 공유하기!</h3>
            <button class="final-btn" type="submit">친구들에게 나의 동화 공유하기</button>
            <h3 class="prompt-title user-prompt">다른 동화를 쓰고 싶다면...</h3>
            <button class="final-btn" type="submit">새로운 동화 쓰러 가기</button>
        </div>
    </div>
    <footer>
        <div class="footer-left">
        </div>
        <div class="footer-center">
        </div>
        <div class="footer-right">
            <div class="progress-stp-1"></div>
            <div class="progress-none"></div>
            <div class="progress-stp-2"></div>
            <div class="progress-none"></div>
            <div class="progress-stp-3"></div>
        </div>
    </footer>
    <script src="static/js/script-2.js"></script>
    
</body>
</html>