<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franklin | AI 동화 작가</title>
    <link rel="stylesheet" href="static/css/style-3.css">
</head>
<body>
    <header>
        <div class="menu-left">
            <a href="#" class="menu-btn about" type="button">TEAM</a>
        </div>
        <div class="home">
            <img src="static/logo.png" class="logo">
        </div>
        <div class="menu-right">
            <a href="#" class="menu-btn" id="bookself" type="button">CONTACT</a>
        </div>
    </header>
    <footer>
        <div class="footer-left">
        </div>
        <div class="footer-center">
        </div>
        <div class="footer-right">
            <div class="progress-stp-1"></div>
            <div class="progress-none"></div>
            <div class="progress-stp-2"></div>
            <div class="progress-none"></div>
            <div class="progress-stp-3"></div>
        </div>
    </footer>
</body>
</html>