@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'LeferiBaseType-RegularA';
    background-color: #F2F2F2;
}
header{
    display:flex;
    flex-direction: row;
    border-bottom: solid 1px black;
    height: 10vh;
}

.menu-left{
    flex:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
}

.home{
    flex:50%;
    align-items: center;
    text-align: center;
    display:flex;
    justify-content: center;
}

.menu-right{
    flex:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-right: 4%;
}

.logo{
    width:10rem;
}

.menu-btn{
    /*background-color: transparent;*/
    /*border: none;*/
    font-family: 'LeferiBaseType-RegularA';
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    text-decoration: none;
    color:black;
    width: 100%;
    justify-content: center;
}

#bookself{
    text-align: right;
}

/*prompt-main*/
.container{
    display:flex;
    flex: row;
    height:80vh;
}

.nav-bar{
    flex: 10%;
    border-right: solid 1px black;
}

.sub{
    flex:40%;
    border-right: solid 1px;
    padding:3rem;
    font-family: 'LeferiBaseType-RegularA';
    overflow: scroll;
}
.prompt{
    flex:50%;
    overflow: scroll;
    padding:3rem;
}

/*navbar*/
.step{
    font-family: 'LeferiBaseType-RegularA';
    height: 3rem;
    border-bottom: solid 1px black;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    padding-left: 80%;
}

.stp1{
    font-weight: 700;
    background-color: #FEC851;
    color:white;
}

/*guideline*/
.title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
    padding-bottom:3rem;
}

span{
    border-bottom: dashed 3px #FEC851;
    text-decoration: none ;
}

.prompt-title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 200%;
}

.prompt-p{
    font-weight: 400;
    font-size: 0.8rem;
    padding-bottom: 2rem;
    line-height: 150%;
}

.description{
    opacity: 70%;
    text-align:justify;
}

/*prompt*/
.user-prompt-title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
    padding-bottom:5.2rem;
}

.two-shared-flex{
    display:flex;
}

.three-shared-flex{
    display:flex;
    flex-wrap: wrap;
}

.user-prompt{
    font-weight: bold;
    color: red;
}

.user-text-input{
    border-bottom: dashed 2px #FEC851;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem;
}

.user-btn-input{
    flex:30%;
    border: dashed 2px #FEC851;
    margin-top: 1rem;
    margin-right:20px;
    border-radius: 10px;
    height: 3rem;
    padding:1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.long-prompt{
    width:95%;
}

.med-prompt{
    width:90%;
}

.short-prompt{
    width: 19%;
}
.submit{
    text-align: center;
    align-items: center;
}

#submit-btn{
    width: 30%;
    margin-top: 2rem;
    background-color: transparent;
    border-style: none;
    border-style: dashed 2px #FEC851;
    background-color: white;
    box-shadow: 0px 4px 0px 0px #FEC851;
    border-radius: 4px;
    height:1.5rem;
    font-weight: 700;
}

#submit-btn:hover{
    margin-top: 2.2rem;
    box-shadow: 0px 0px 0px 0px #FEC851;
}

#submit-btn:active{
    margin-top: 2.2rem;
    background-color: #FEC851;
    color:black;
}

/*footer*/
footer{
    display:flex;
    flex-direction: row;
    border-top: solid 1px black;
    height: 10vh;
}

.footer-left{
    flex:10%;
    border-right: solid 1px black;
}

.footer-center{
    flex:40%;
}

.footer-right{
    flex:50%;
    border-left: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.progress-stp-1{
    flex:88%;
    background-color: #FEC851;
}

.progress-stp-2{
    flex: 3%;
    background-color: #F9B0A9;
    margin-left: 3%;
}

.progress-stp-3{
    flex:3%;
    background-color: #B796E9;
    margin-left: 3%;
}